@import "tailwindcss";

@theme {
  --color-primary: #d81b60;
  --color-textwhite: #ffffff;
  --color-peracolor: #808080;
  --color-tertiary: #3d48b7;
}

@layer utilities {
  .container-bg {
    @apply rounded-xl bg-white shadow;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
