@import "tailwindcss";

@theme {
  --color-primary: #0078d4;
  --color-secondary: #4d525f;
  --color-tertiary: #3d48b7;
}

@layer utilities {
  .container-bg {
    @apply rounded-xl bg-white shadow;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

}
